@using Dalila.Haircare.Web.Common
@addTagHelper *, Microsoft.FeatureManagement.AspNetCore
@{
    ViewData["Title"] = "Home Page";
}

<feature name="@Constants.Features.ChristmasProducts">
    <h3>Looking for the perfect Xmas present...</h3>
    <div class="row text-center">

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="https://source.unsplash.com/EW_rqoSdDes/500x325" alt="">
                <div class="card-body">
                    <h4 class="card-title">Our barber shops</h4>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="https://source.unsplash.com/0OY7DzABRFw/500x325" alt="">
                <div class="card-body">
                    <h4 class="card-title">Accessories</h4>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="https://source.unsplash.com/eAlcaMVJYNg/500x325" alt="">
                <div class="card-body">
                    <h4 class="card-title">Tools</h4>
                </div>
            </div>
        </div>

        <div class="col-lg-3 col-md-6 mb-4">
            <div class="card h-100">
                <img class="card-img-top" src="https://source.unsplash.com/OEI6EhKg-EE/500x325" alt="">
                <div class="card-body">
                    <h4 class="card-title">All Vintage</h4>
                </div>
            </div>
        </div>
    </div>
    <!-- /.row -->
</feature>

<!-- Page Features -->
<h3>@ViewBag.ProductListHeaderMessage</h3>
<div class="row text-center">

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="https://source.unsplash.com/q49oU8NeOHQ/500x325" alt="">
            <div class="card-body">
                <h4 class="card-title">Barber poles</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="https://source.unsplash.com/WbEibGKHBMY/500x325" alt="">
            <div class="card-body">
                <h4 class="card-title">Clipper & Trimmers</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="https://source.unsplash.com/T98IIgJ_VJU/500x325" alt="">
            <div class="card-body">
                <h4 class="card-title">Original tiles</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
        </div>
    </div>

    <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
            <img class="card-img-top" src="https://source.unsplash.com/WN1P9aSLfa4/500x325" alt="">
            <div class="card-body">
                <h4 class="card-title">Body & face</h4>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-primary">Find Out More!</a>
            </div>
        </div>
    </div>

</div>
<!-- /.row -->
